{{define "content"}}
<div class="card">
  <h1>Production Processes</h1>
  <p>Manage your production lines and operations.</p>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Input</th>
        <th>Output</th>
        <th>Duration</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {{range .Productions}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.InputText}}</td>
        <td>{{.OutputText}}</td>
        <td>{{.Duration}}</td>
        <td>{{.Cost}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <button class="btn" onclick="openModal('production')">+ Add</button>
  <dialog id="modal-production" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal('production')">&times;</span>
      <h2>Create Production</h2>
      <form id="production-form">
        <div style="margin-bottom: 10px">
          <label
            >Name: <input type="text" id="production-name" name="name" required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Cost:
            <input type="number" id="production-cost" name="Cost" required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Duration:
            <input
              type="number"
              id="production-duration"
              name="duration"
              required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Input:
            <input type="string" id="input-productions" name="input" required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Output:
            <input type="string" id="output-productions" name="output" required
          /></label>
        </div>
        <button type="button" onclick="creatProduction()">Create</button>
      </form>
    </div>
  </dialog>
</div>
{{end}}
