{{define "content"}}
<div class="card">
  <h1>Buildings</h1>
  <p>Manage your construction projects and building operations.</p>

  <table id="buildings-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Build Time (min)</th>
        <th>Productions</th>
      </tr>
    </thead>
    <tbody>
      {{range .Buildings}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.ResourceCost}}</td>
        <td>{{.BuildTime}}</td>
        //TODO: Add input output text
        <td>
          {{range $idx, $prod := .Productions}} {{if $idx}}, {{end}}{{$prod}}
          {{else}} - {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <button class="btn" onclick="openModal('building')">+ Add</button>
  <div id="modal-building" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal('building')">&times;</span>
      <h2>Create Building</h2>
      <form id="building-form">
        <div style="margin-bottom: 10px">
          <label
            >Name: <input type="text" id="building-name" name="name" required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Cost:
            <input
              type="number"
              id="building-cost"
              name="resourceCost"
              required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Build Time:
            <input
              type="number"
              id="building-build-time"
              name="buildTime"
              required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Productions:
            <input
              type="string"
              id="building-productions"
              name="productions"
              required
          /></label>
        </div>
        <button type="button" onclick="createBuilding()">Create</button>
      </form>
    </div>
  </div>
</div>
{{end}}
