{{define "content"}}
<div class="contentWrapper">
  <button class="btn-primary" onclick="saveFiles()">Save Files</button>
  <div class="containerContent">
    <!-- Buildings -->
    <div class="column">
      <h2>Buildings</h2>
      <ul>
        {{range .Buildings}}
        <li
          id="building-{{.ID}}"
          data-productions="{{range $idx, $prod := .Productions}}{{if $idx}},{{end}}production-{{$prod}}{{end}}"
          data-products="{{range $idx, $prod := .ProductIDs}}{{if $idx}},{{end}}product-{{$prod}}{{end}}"
          onclick="highlightAssociations(this)"
        >
          {{.Name}}
        </li>
        {{end}}
      </ul>
    </div>

    <!-- Productions -->
    <div class="column">
      <h2>Productions</h2>
      <ul>
        {{range .Productions}}
        <li
          id="production-{{.ID}}"
          data-buildings="{{range $idx, $building := .BuildingIDs}}{{if $idx}},{{end}}building-{{$building}}{{end}}"
          data-products="{{range $idx, $product := .InputType}}{{if $idx}},{{end}}product-{{$product.ProductID}}{{end}}{{range .OutputType}},product-{{.ProductID}}{{end}}"
          onclick="highlightAssociations(this)"
        >
          {{.Name}}
        </li>
        {{end}}
      </ul>
    </div>

    <!-- Products -->
    <div class="column">
      <h2>Products</h2>
      <ul>
        {{range .Products}}
        <li
          id="product-{{.ID}}"
          data-buildings="{{range $idx, $building := .BuildingIDs}}{{if $idx}},{{end}}building-{{$building}}{{end}}"
          data-productions="{{range $idx, $production := .ProductionIDs}}{{if $idx}},{{end}}production-{{$production}}{{end}}"
          onclick="highlightAssociations(this)"
        >
          {{.Name}}
        </li>
        {{end}}
      </ul>
    </div>
  </div>
  {{end}}
</div>
