{{define "content"}}
<div class="card">
  <h1>Products</h1>
  <p>Manage your product inventory and specifications.</p>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {{range .Products}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Value}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <button class="btn" onclick="openModal('product')">+ Add</button>
  <div id="modal-product" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal('product')">&times;</span>
      <h2>Create Product</h2>
      <form id="product-form">
        <div style="margin-bottom: 10px">
          <label
            >Name: <input type="text" id="product-name" name="name" required
          /></label>
        </div>
        <div style="margin-bottom: 10px">
          <label
            >Value:
            <input type="number" id="product-value" name="baseValue" required
          /></label>
        </div>
        <button type="button" onclick="createProduct()">Create</button>
      </form>
    </div>
  </div>
</div>
{{end}}
